body {
  margin: 0;
  font-family: poppinsregular, Poppins, Nanum Gothic, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.layout {
  width: 85%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 132px;
  border-bottom: 3px solid black;
  margin-bottom: 35px;
  background: #f5f5f5;
}

.header .logo {
  flex-grow: 2;
  display: flex;
}

.header .logo span {
  display: block;
  font-size: 90px;
  font-weight: bolder;
  margin-top: -8px;
}
.header .logo h3 {
  display: block;
  flex-basis: 40px;
  margin-left: 10px;
  font-weight: 300;
  text-transform: uppercase;
}
.header .logo img {
  margin: 15px;
  height: 90px;
  width: 72px;
  border-radius: 55px;
}
.header nav {
  flex-grow: 1;
}
.header nav ul {
  height: 132px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.header li {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  margin-left: 15px;
  margin-right: 15px;
}
.header li a {
  color: black;
  text-decoration: none;
  transition: all 300ms;
}
.header .active,
.header a:hover {
  color: #fa4529;
}

.footer {
  text-align: center;
  font-size: 14px;
  margin-top: 35px;
  border-top: 3px solid black;
  padding-top: 45px;
  background: #f5f5f5;
  min-height: 40px;
  line-height: 7px;
  color: #444;
}

.content {
  min-height: 450px;
}

.home h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 0px;
}
.home h1 strong {
  color: #fa4529;
}
.home h3 {
  color: rgb(87, 87, 87);
  font-weight: lighter;
}
.home .title a {
  background-color: #fa4529;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  transition: all 300ms;
}
.pageContact,
.pageService,
.pageCurriculum {
  margin-left: 33%;
}
.page .heading,
.pageContact,
.home .heading {
  font-size: 40px;
  font-weight: 500;
  color: black;
  margin-bottom: 0px;
}
.pageCurriculum h1 {
  font-size: 55px;
  font-weight: bold;
}
.page .heading {
  font-size: 55px;
  font-weight: bold;
}
.page-work .mask {
  height: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 20px #ccc;
}
.home p {
  color: rgb(87, 87, 87);
}

input[type="text"],
textarea {
  padding: 15px;
  display: block;
  width: 250px;
  margin-top: 25px;
}

input[type="submit"],
button {
  background-color: #fa4529;
  border: 0px;
  text-decoration: none;
  padding: 15px;
  border-radius: 5px;
  color: white;
  transition: all 300ms;
  font-size: 15px;
  margin-top: 15px;
  cursor: pointer;
}
.home .title a:hover,
input[type="submit"]:hover,
button:hover {
  background-color: #57bf40;
}

.works {
  display: flex;
  flex-wrap: wrap;
}
.work-item {
  flex-basis: 30%;
  flex-grow: 1;
  margin: 30px;
}
.work-item .mask {
  height: 350px;
  width: 100%;
  overflow: hidden;
  border: 1px solid #ddd;
  box-shadow: 0px 5px 15px #ddd;
}
.work-item img {
  width: 120%;
  transition: all 500ms;
}
.work-item .mask:hover img {
  width: 150%;
  margin-right: 30%;
}
.work-item span {
  display: block;
  margin-top: 35px;
  color: gray;
}
.work-item h2 {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: black;
  font-size: 30px;
}
.work-item h3 {
  display: block;
  padding-top: 15px;
  margin-top: 0px;
  color: #444;
  border-top: 1px solid #ddd;
}
.work-item a {
  text-decoration: none;
  color: black;
  transition: all 300ms;
}
.work-item a:hover {
  color: #fa4529;
}
.social {
  display: flex;
  margin-left: 30px;
}
.heading h4 {
  align-self: flex-start;
}
.social img {
  height: 25px;
  width: 25px;
  margin: 5px;
}
.pageAbout {
  width: 90%;
  min-height: 80vh;
  padding: 1rem 4rem;
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
}
.flex-container {
  margin: 0;
  padding: 0;
  display: flex;
}
.pageAbout h1 {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.pageAbout img {
  width: 10rem;
  height: 10rem;
  border-radius: 2rem;
  border: 2px solid #fa4529;
  flex-direction: column;
}
.aboutP {
  margin-left: 3rem;
}
.specialities {
  display: flex;
  margin-top: 10rem;
  width: 100%;
  background-color: #f5f5f5;
}
.specialities h1 {
  justify-content: center;
}
.specialities img {
  width: 6rem;
  height: 4rem;
  border: none;
}
.speciality {
  height: 20rem;
  background-color: white;
  margin: 2rem;
}
.skills {
  margin-top: 10rem;
  justify-content: center;
  flex-direction: row;
}
.skills img {
  border: none;
  margin: 1rem;
  width: 4rem;
  height: 4rem;
}
.skills img:hover {
  background: transparent;
}
